@import 'valiables';

// レスポンシブ対応
@mixin mq($breakPoint) {
  @media screen and(max-width:#{map-get($breakPoints, $breakPoint)}) {
    @content;
  }
}

// ヘッダー固定
@mixin fixed {
  .header {
    background-color: #EDE4D3;
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 10px 0;
    border-bottom: 2px solid #3b8110;
    box-shadow: 0 0 3px #04040461;
    @include flex;
  }
}

// フレックスボックス
@mixin flex($gap: 10px, $jc: space-between) {
  .flex {
    display: flex;
    align-items: center;
    justify-content: $jc;
    gap: $gap;
  }
}

// ファーストビュー画像
@mixin fv {
  .first-view {
    position: relative;
    img {
      object-fit: cover;
      max-height: $fv-height;
    }
  }
}

// マスク
@mixin mask($bg: #000, $opacity: 0.5) {
  .mask {
    position: relative;
  }
  .mask::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $bg;
    opacity: $opacity;
    filter: brightness(.7) contrast(1.5) saturate(1.5);
  }
}

// フォントオーサム
@mixin iconBefore($code) {
  .icon-before {
    position: relative;
    &::before {
      position: absolute;
      left: 6%;
      top: 50%;
      transform: translateY(-50%);
      font-size: 140%;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: #{'"' + $code + '"'};
    }
  }
}
@mixin iconAfter($code) {
  .icon-after {
    position: relative;
    &::after {
      position: absolute;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
      font-size: 110%;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: #{'"' + $code + '"'};
    }
  }
}


